---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  outline: "border-2 border-primary hover:bg-primary text-primary hover:text-white shadow-sm hover:shadow-md",
  primary:
    "bg-primary text-white hover:bg-primary/90 border-2 border-transparent shadow-lg hover:shadow-primary/30 hover:-translate-y-0.5 transition-all duration-150",
};
---

<button
  {...rest}
  class:list={[
    "rounded-md text-center transition-all duration-150 focus-visible:ring-2 ring-offset-2 ring-primary/20",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
